<% include partials/subheader %>
    <style>
        body {
            background-image: url('../images/AskUs.jpg');
            background-size: cover;
        }
    </style>


    <h1>
        404
    </h1>
    <div class="text-center">
        <h1>Page Not Found. </h1>
        <h1>This Is Not A Page That You Are Loking For. </h1>
        <h3>If You Are Website owner then check your server.</h3>
        <h4>If Any Problem then contact us at
            <a class="all_Urlpages" href="mailto:management@Jobley.in">
                <i class="far fa-envelope"></i> info@Jobley.in</a>
        </h4>
    </div>
    <% include partials/subheader %>